
:root{
    /* --color:#191862; */
    --color: black;
    font-size:10px;
}

body{
    margin:0;
    background: rgba(53,35,129,.2);
    background: linear-gradient(90deg, rgba(53,35,129,1) 0%, rgba(219,125,191,0.9430365896358543) 35%, rgba(0,157,255,0.49205619747899154) 100%);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


h1{
    margin: 4vh auto;
    font-size: 5rem;
    transition: font-size 1s;
    opacity: 70%;
}

a{
    color: var(--color);
    text-decoration: none;
}

img{
    width:100%;
}

.pic{
    height: 10vh;
    transition: height 1s;
    margin: 4vh;
}

.pic img{
    height:100%;
    width: auto;
}

.pic:hover{
    height:12vh;
}

h1:hover{
    font-size:6em;
}

.container{
    width:80%;
    margin: 3% auto;
}

.gallery__row{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
}

.gallery__subrow{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.gallery__item, .gallery__item_horizontal{
    width: 48%;
    overflow: hidden;
    margin: 2%;
    transition: all 1s;
}

.gallery__item_horizontal{
    width:48%;
}

.gallery__item:hover,.gallery__item_horizontal:hover{
    width: 55%;
}

footer{
    background-color: var(--color);
    padding:10px;
    transition: all 1s;
    opacity: 70%;
    width:100%;
    font-size:1rem;
}

footer a{
    color: white;
}

.bold{
    font-size:3rem;
}

footer:hover{
    padding: 12px;
    font-size: 3rem;
}

@media screen and (max-width:750px){
    :root{
        font-size: 8px;
    }
    .gallery__row{
        display: block;
    }
    .gallery__item_horizontal{
        width:95%;
    }
    .gallery__item_horizontal:hover{
        width:100%;
    }
    footer:hover{
        padding: 12px;
        font-size: 1.5rem;
    }
    
}