@import url("https://fonts.googleapis.com/css2?family=Average+Sans&family=Open+Sans:wght@400;600&family=Work+Sans:wght@500&display=swap");
/*normalazing*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
:root {
  font-family: "Open Sans";
  font-size: 10px;
  font-weight: 400;
}

.header {
  background-color: #EAEFF6;
}
.header__nav {
  padding: 1rem 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #353637;
  font-family: "Average Sans";
  font-weight: 600;
  font-size: 1.8rem;
}
.nav__menu {
  width: 45.6756756757%;
  height: 100%;
  display: flex;
  text-transform: capitalize;
  justify-content: space-between;
}
.nav__menu a {
  color: #353637;
  display: inline-block;
  padding: 1rem;
  white-space: nowrap;
  border-bottom: 1.5px solid #EAEFF6;
}
.nav__menu a:hover {
  color: #597193;
  border-bottom-color: #597193;
}

.logo {
  display: flex;
  align-items: baseline;
}
.logo p {
  display: inline;
  text-transform: uppercase;
  color: #597193;
  font-weight: 600;
  font-size: 2.6rem;
  margin-left: 0.8rem;
}

.btn {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #fff;
  background-color: #597193;
  border-radius: 0.5rem;
  height: 4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2509803922);
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.play-btn {
  cursor: pointer;
  display: block;
  height: 4rem;
  background: url("../img/play.svg") 0 -0.8rem no-repeat;
  padding: 1.3rem 6rem;
  font-size: 1.6rem;
  color: #353637;
}

.header__body {
  display: flex;
}
.header__info {
  width: 40.7207207207%;
  margin-top: 17.6rem;
}
.header__title {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5.5rem;
  padding-bottom: 1.6rem;
  color: #3D4550;
}
.header__text {
  font-family: "Average Sans";
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #939393;
  padding-bottom: 2rem;
}
.header__bg {
  display: flex;
  align-items: flex-end;
  margin: 13rem -10.3rem 0 0;
  position: relative;
}
.header__stat {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  z-index: 2;
}
.header__stat:first-of-type {
  margin-bottom: 7.1rem;
}
.header__stat:nth-of-type(3) {
  margin: 4.7rem 0 0 1.8rem;
  align-self: flex-start;
}
.header__img {
  margin: 0 2.1rem;
  z-index: 2;
}
.header__circle {
  position: absolute;
}
.header__circle_dark, .header__stat {
  transition: transform 1s ease-in;
}
.header__circle_dark:hover, .header__stat:hover {
  transform: scale(1.1);
}
.header__circle_giant {
  left: 10.3rem;
  top: -4.1rem;
  width: 54rem;
  height: 54rem;
  background-color: #F6FCFA;
  border-radius: 27rem;
}
.header__circle_big {
  width: 4.1rem;
  height: 4.1rem;
  border-radius: 2rem;
  background-color: #C9D6E9;
  right: 4.6rem;
  top: -4.1rem;
}
.header__circle_middle {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 1.4rem;
  background-color: #C9D6E9;
  right: 2.9rem;
  bottom: 8.3rem;
}
.header__circle_small {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 1rem;
  background-color: #C9D6E9;
  left: 7.3rem;
  top: 5.5rem;
}

.info__btns {
  display: flex;
  padding: 1.6rem 0;
}
.info__video-btn {
  display: block;
}
.info__play-btn {
  margin: 0 0 0 5rem;
}