body{
    font-family:'Roboto', sans-serif;
    font-weight:700;
    width: 1000px;
    margin: 0 auto;
}
h1{
    font-family:'M plus 1', sans-serif;
    font-weight:400;
    text-align: center;
    text-transform: uppercase;
    margin: 9px 0;
    font-size: 33px;
}
a{
    text-decoration: none;
}
    
h2{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    margin:30px 0 3px 0;
}

.headerimg{
    background-image:url('../img/header.png');
    background-size: 100%;
    margin:0;
    width:100%;
    height:531px;
}
.headerimg__inner{
    padding:160px 56px;
    height: 211px;
}
.headerimg__inner_line{
    width:16px;
    height:200px;
    display: inline-block; 
    background: linear-gradient(#00e0ff,#1400FF 50%,#FFA800 50%,#FFF500);
    vertical-align:middle;
    border:0;
}
.headerimg__inner_quote{
    margin: 0 20px; 
    display: inline-block;
    font-size: 33px;
    color:#ffffff;
    line-height:52px;
    text-transform: uppercase;
    vertical-align: middle;
}
.header-blue{
    color:#3e45e8;
}
.header-yellow{
    color:#e8c23e;
}
.gallery__title{
    width: 544px;
}
.gallery__line{
    height: 12px;
    width: 544px;
    padding:0;
    margin:0 0 10px 0;
    background: linear-gradient(0.25turn,#00e0ff 0,#1400FF 50%,#FFA800 50%,#fff50000 100%);
    border:0;
}

.gallery__list{
    width:100%;
    text-align: center;
    vertical-align: baseline;
}

.gallery__item{
    border-radius: 26px;
    border: 3px solid #0D095F;
    height: 315px;
    width:255px;
    display: inline-block;
    text-align: left;
    margin:15px;
    vertical-align:middle;
}

.gallery__item_left{
    box-shadow: -15px 15px 20px #00e0ff62;
}

.gallery__item_center{
    box-shadow: 0 15px 20px #00e0ff62;
}

.gallery__item_right{
    box-shadow: 15px 15px 20px #00e0ff62;
}

.gallery__item>img{
    width:100%;
}

.gallery__item>h3{
    color:#0072DB;
    font-size:16px;
    margin: 10px 7px;
}

.gallery__item>p{
    color:#FF9900;
    font-weight:400;
    font-size:14px;
    margin: 10px 7px;

}

.content{
    text-align: center;
}

.content__title{
    width: 40%;
    margin: 10px auto 30px auto;
    border-bottom: 5px solid #1400FF;
}

.content>img{
    width:70%;
}

.button>p{
    color:white;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 3px;
}


.button{
    margin: 10px auto 20px auto;
    background-color: #2A61F0;
    width: 348px;
    height: 55px;
    border-radius: 35px;
}

footer{
    background: linear-gradient(#013235, #0D0661);
    width:100%;
    height:145px;
    border: 1px solid #013235;
    text-align: center;
    font-family: Marcellus;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 32px;
}

footer>h1{
    margin:9px auto 5px auto;
}

footer>p{
    margin:0;
    padding:0
}

footer>p>a{
    color:#A89D9D;
}

.footer__icons{
    margin-top:-8px;
}

.footer__icons>a>img{
    width:18px;
    margin: 0 3px;
    vertical-align: middle;
}
