@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap');

:root{
    font-size: 10px;
    --screenHeight: 90vh;
}

body{
    font-family: 'Rosario';
    font-weight: 700;
    font-style: italic;
}

header{
    position: sticky;
    top:0;
    z-index: 1;
}

.screen{
    height:var(--screenHeight);
    box-sizing: border-box;
}

h1{
    text-transform: capitalize;
    font-style:normal;
    font-size: 9.6rem;
    text-align: center;
    line-height: 12rem;
    margin: 2% auto;
}

h2{
    font-size: 6.4rem;
    text-align: center;
    line-height: 7.8rem;
}

.anchor{
    height: 9.9vh;
}

.delete-spaces{
    --bs-navbar-padding-y:0;
    --bs-navbar-padding-x:0;
}

.my-container{
    max-width:100%;
    padding-left:0;
}

/* header menu */

.header{
    font-size:3.6rem;
    line-height: 4.2rem;
}

.navbar-brand img{
    height: 10vh;
}

.navbar-nav a{
    color:#FFFCFC;
    padding: 1.5rem 0;
    margin: 0 1rem;
    text-align: center;
 }
.header a:hover{
    color:#FFFCFC;
}

.header__nav-icon{
    width:5rem;
    height:5rem;
    max-height: 7vh;
}

/* gallery */

.gallery{
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.gallery__column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 24%;
    align-items: center;
    position:relative;
}

.gallery__column:first-child{
    animation: appearLeftWithDelay 2s ease  1;
}

.gallery__column:nth-child(2){
    animation: appearLeft 1s ease  1;
}

.gallery__column:nth-child(3){
    animation: appearRight 1s ease  1;
}

.gallery__column:last-child{
    animation: appearRightWithDelay 2s ease  1;
}

.gallery__foto{
    margin: 2%;
    width: 100%;
    text-align: center;
}

.gallery__foto img{
    width:100%;
}

/* services */

.services{
    display: flex;
    flex-direction: row-reverse;
    padding:0;
}

.services>div{
    /* width:50%; */
}

.services__foto{
    overflow: hidden;
    text-align: right;
}
.services__foto img{
    min-height:100%;
    min-width:100%;
    width:auto;
    height:auto;
}

.circle-gallery{
    justify-self: stretch;
    margin:2% 2%;
    position: relative;
    min-width:50%;
}

.circle-gallery__item{
    justify-self: center;
    position: absolute;
    width: 40%;
    height:40%;
    padding:1%;
    display: flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;   
}

.circle-gallery__img{
    max-height:90%;
}

.circle-gallery__item img{
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
}
.circle-gallery__item p{
    font-size: 4.8rem;
    line-height: 4.2rem;
    text-align: center;
    white-space:nowrap;
    margin: 5% 0;
    max-height: 10%;
}

.circle-gallery__item:nth-child(1){
    top:0;
    left:0;
    animation: 20s linear infinite circleGallery;
}

.circle-gallery__item:nth-child(2){
    left: 50%;
    animation: 20s linear -5s infinite circleGallery;
}

.circle-gallery__item:nth-child(3){
    top: 50%;
    animation: 20s linear -15s infinite circleGallery;
}

.circle-gallery__item:nth-child(4){
    top: 50%;
    left: 50%;
    animation: 20s linear -10s infinite circleGallery;
}

/* team */

.team{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.team-gallery{
    justify-self: stretch;
    display: flex;
    align-items: stretch;
    justify-content: space-evently;
    height:100%;
}

.team-gallery__row{
    display: flex;
    height:100%;
    width:100%;
    align-items: stretch;
    justify-content: space-around;
}

.team-gallery__item{
    width:45%;
    min-height:75vh;
    overflow: hidden;    
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    position: relative;
    margin: 2%;
}

.team-gallery__item img{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top:0;
    transition: filter 1s ease;
}

.team-gallery:hover img{
    filter:brightness(0.4);
}

.team-gallery__item:hover img{
    filter:none;
}

.team-gallery__item:hover .team-gallery__name{
    opacity:1;
}

.team-gallery__name{
    height:22%;
    width:100%;
    position:absolute;
    bottom:0;
    background-color: #A3530AB2;
    display: flex;
    opacity:0;
    align-items: center;
    transition: opacity 1s ease;
}

.team-gallery__name p{
    font-family: "Volkhov";
    font-style: normal;
    color: #FFFAFA;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6rem;
    margin:auto;
    vertical-align: middle;
}

/* contact */

.contact{
    width:90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact__main{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.contact h2{
    margin:0 auto 2%;
}

.contact__form-container{
    width: 58%;
    margin: 3% 0;
}

table{
    width:100%;
    border: 1rem solid #E5E5E5;
    border-spacing: 0;
}

td{
    border: 1rem solid #E5E5E5;
    padding:0;
}

input, textarea{
    border:0;
    width:100%;
    background: none;
    font-size: 3.6rem;
    font-style: normal;
    line-height: 4.4rem;
    padding:1rem;
}

textarea{
    resize:none;
}

.contact__map{
    width:40%;
    margin:3% 0;
}

.contact__map > iframe{
    width:100%;
    height:100%;
}

/* footer */

.footer{
    margin: 6vh auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    font-style: normal;
    text-align: center;
}

.footer p{
    display: inline-block;
    margin: 0;
}

.footer h3{
    margin:0 auto 2rem;
    font-size: 3.6rem;
}

.footer a{
    font-style: italic;
    text-decoration: none;
    color:black;
    font-weight: 600;

}

.footer > div{
    margin: 2vh auto;
}

.footer__hours{
    font-weight: 600;
    font-style: italic;
}

.footer__social-links{
    width:70%;
    margin:0 auto;
    text-align: left;
    white-space:nowrap;
}

.footer__social-links a{
    display:block;
}

/* animation */

@keyframes appearLeftWithDelay {
    from{left:-100%;}
    50%{left:-100%;}
    to{left:0;}
}

@keyframes appearLeft {
    from{left:-100%;}
    to{left:0;}
}

@keyframes appearRight {
    from{right:-100%;}
    to{right:0;}
}

@keyframes appearRightWithDelay {
    from{right:-100%;}
    50%{right:-100%;}
    to{right:0;}
}

@keyframes circleGallery{
    from, to{ top:1%; left:0; }
    25%{ top:1%; left:50%; }
    50%{ top:52%; left:50%; }
    75%{ top:52%; left:0; }
}
