body{
    margin:0;
}

.header{
    background-image: url(../img/headerimg.png);
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height:700px;
}

.header__title{
    padding: 144px 0 350px;
    margin: 0 auto; 
    width: 65%;
}

.header__title > a > img{
    width: 100%;
}

.menu__list{
    margin:0;
    padding:0;
    vertical-align: top;
    text-align: center;
}

.menu > h1{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    margin: 16px 112px;
}

.menu__item{
    margin: 16px;
    background-color: #231B0C;
    display: inline-block;
    width: 400px;
    height: 460px;
}

.menu__title{
    padding-top:37px;
}

.menu__img{
    margin-top:87px;
}

.container__photo{
    margin: 26px 112px;
}

.container__photo>img{
    width:100%;
}

footer{
    background-color: #150F02;
    text-align: center;
    padding:32px;
}

.footer__menu_col{
    display: inline-block;
    text-align: left;
    margin: 0 185px; 
}

.footer__menu_col>a{
    line-height: 40px;
}

.contacts__title{
    color:white;
    font-family:"Roboto";
    text-transform: uppercase;
    font-size:20px;
    font-weight: 500;
    padding: 6px;
    margin: -10px auto 20px;
    width: 318px;
    border-bottom: 10px solid #FF6B00;
}

.contacts__social>a>img{
    margin: 0 16px;
    width: 32px;
    vertical-align: middle;
}
